*{padding: 0; margin: 0;}

    html, body {
        height: 100%;
    }

    .container-fluid {
        height: 100%;
        /* overflow-y: hidden; */
        padding-left: 0px;
        /* padding-right: 0px; */
    }

    .row {
        height: 100%;
        /* overflow-y: hidden; */
    }

    .top-nav {
        background-color: #260E39;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .main-nav ul>li {
        display: inline;
        font-size: 18px;
        line-height: 40px;
    }

    .main-nav .logo {
        font-size: 30px;
    }

    .main-nav {
        padding-top: 15px;
        padding-bottom: 13px;
        background-color: #00000017;
        color: white;
        overflow: hidden;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #714EFF;
        transition-duration: 2s;
        z-index: 1000;
    }

    .nav-main {
        background-image: url(https://raw.githubusercontent.com/nhn110112/zinger/master/Zinger/img/bg1.jpg);
        height: 115%;
        width: auto;
    }

    .main-top {
        background: url(https://raw.githubusercontent.com/nhn110112/zinger/master/Zinger/img/img1.jpg) no-repeat bottom right;
        /* background-image: url(/img/img1.png) ; */
        height: 100%;
        /* background-repeat: no-repeat; */
    }

    .main-top>div>div {
        position: absolute;
        color: white;
    }

    .domain {
        top: 360px;
        font-size: 40px;
    }

    .hosting {
        top: 410px;
        font-size: 75px;
        font-weight: bold;
    }

    .respect {
        top: 550px;
        font-size: 22px;
        line-height: 30px;
    }

    .order-play {
        top: 650px;
    }

    .order-play button {
        color: white;
        
        border: none;
    }

    .order-play>div {
        float :left;
    }

    .order-play::after {
        content: "";
        clear: both;
        display: table;
    }

    .order>button {
        background-color: #714EFF;
        border-radius: 100px;
        padding: 15px 40px;
        border: 2px solid #00000000;
    }

    .order:hover button {
        background-color: #00000000;
        border: 2px solid #9D80B6;
    }

    .play>button {
        background-color: #00000000;
        border: 2px solid #9D80B6;
        border-radius: 50%;
        padding: 12px 22px;
        margin-left: 30px;
    }

    .play:hover button {
        background-color: #714EFF;
        border: 2px solid #00000000;
    }

    .play>button>i {
        font-size: 30px;
    }

    .search {
        height: 400px;
        background-color: #F7F7F7;
    }

    .search>div {
        position: relative;
    }

    .search-title {
        font-weight: bold;
        font-size: 50px;
        top: 100px;
    }

    .domain-search {
        top: 150px;
    }

    .domain-search>div {
        display: inline;
    }

    .input-search>input[type="text"] {
        border-radius: 30px;
        border: none;
        padding: 15px 30px;
        width: 500px;
    }

    .btn-search>button {
        border-radius: 30px;
        border: none;
        padding: 15px 60px;
        background-color:#714EFF;
        color: white;
        margin-left: 30px;
        font-weight: bold;
        font-size: 17px;
        border: 2px solid #8A6EFD;
    }

    .btn-search:hover button {
        border: 2px solid #8A6EFD;
        background-color: #F7F7F7;
        color: #8A6EFD;
    }

    .top-nav i {
        margin-left: 10px;
    }

    .main-main-nav>li {
        margin-left: 20px;
        cursor: pointer;
    }

    .main-main-nav>li:hover {
        color: #B0A5B6;
    }

    .active {
        color: #B0A5B6;
    }

    .choose {
        background: url(/img/shape1.png) no-repeat bottom right;
        height: 130%;
    }

    .why {
        font-size: 55px;
        font-weight: bold;
        position: relative;
        top: 123px;
    }

    .plus {
        position: relative;
        top: 180px;
    }

    .plus>div>div {
        height: 262px;
        border: 1px solid black;
        margin-bottom: 30px;
        background-color: white;
    }